:host {
    vertical-align: middle;
}

.checked input,
.checked span {
    text-decoration: line-through;
    font-style: oblique;
    color: #666;
}

.btn {
    padding: 0;
}

.glyphicon:hover {
    color: inherit;
}

.glyphicon-move { 
    cursor: move;
}

.focused {
    border-width: 2px 0px;
    background-color: yellow;
}