:host {
    vertical-align: middle;
}

.checked {
    text-decoration: line-through;
    font-style: oblique;
}
.btn {
    padding: 0;
}

.checked {
    color: #666;
}

.glyphicon:hover {
    color: inherit;
}

.glyphicon-move { 
    cursor: move;
}