<div *ngIf="checklist" class="panel panel-default center-block">
<div class="panel-heading">
	<input type="text" class="input-lg" 
			[placeholder]="titleHolder"	[(ngModel)]="checklist.name">
</div>
<div class="list-group">
	<checklist-item class="list-group-item"
					[allowEdit]="allowEdit"
					*ngFor="let item of activeItems()"
					(deleteRequest)="removeItem($event)"
					[item]="item"></checklist-item>
	<span *ngIf="allowEdit">
		<div class="list-group-item">
			<span class="glyphicon glyphicon-plus"></span>
			<input type="text" [(ngModel)]="newItem"
					[placeholder]="newItemHolder" (keyup.enter)="addItem()">
		</div>
		<span *ngIf="doneItems().length > 0">
			<hr>
			<p class="list-group-item">{{ doneItems().length }} Completed item(s)</p>
		</span>
	</span>
	<checklist-item class="list-group-item"
						[allowEdit]="allowEdit"
						*ngFor="let item of doneItems()"
						(deleteRequest)="removeItem($event)" 
						[item]="item"></checklist-item>
</div>
</div>