<checklist-item class="list-group-item" keepFocus 
				[allowEdit]="allowEdit"
				*ngFor="let i = index; let item of activeItems()"
				(deleteRequest)="removeItem($event)"
				[item]="item" [index]="i">
</checklist-item>
<template [ngIf]="allowEdit">
	<div class="list-group-item" keepFocus>
		<span class="glyphicon glyphicon-plus"></span>
		<input type="text" [(ngModel)]="newItem" 
				[(keepInputWrap)]="newItem" [wrapIndex]="activeItems().length"
				[placeholder]="newItemHolder">
	</div>
	<template [ngIf]="doneItems().length > 0">
		<hr>
		<p class="list-group-item">{{ doneItems().length }} Completed item(s)</p>
	</template>
</template>
<checklist-item class="list-group-item" keepFocus
				[allowEdit]="allowEdit"
				*ngFor="let item of doneItems()"
				(deleteRequest)="removeItem($event)" 
				[item]="item">
</checklist-item>