.panel {
    color: rgba(0,0,0,.87);
    max-width: 600px;
    max-height: 85%;
}

.list-group {
    overflow-y: auto;
}

:host >>> .list-group-item:not(.focused) {
    border: none;
}

.focused {
    border-width: 1px 0px;
    margin-bottom: 0px;
}

:host >>> .glyphicon {
    color: #666;
}

.glyphicon-plus {
    margin-left: 20px;
}

hr {
    margin: 2px 20px;
}

