<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="btn btn-link btn-lg pull-left" aria-label="Main Menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">
                {{title}}
            </a>
        </div>
    </div>
</nav>